body{
    margin: 0;
    flex-direction: column;
    display: flex;
    min-height: 100vh;

    /* need to understand these components*/

}

header{
    text-align: center;
    border: 1ex;
    background-color: darksalmon;
    padding: 0 25px;
    color: azure;
}

section{
    padding: 20px;
    text-align: center;
}
.bar {
    display: block;
    width: 90%;
    margin: 0 auto;
    border-radius: 20px;
    overflow: hidden;
    height: 20px;
    background-color:  antiquewhite;
}
.progress {
    display: block;
    width: 4%;
    height: 100%;
    background-color:green;
}