* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    font-size: 22px;

}

p {
    color: purple;
}

h1 {
    color: gray;
}

h2 {
    color: blue;
}


.brown {
    color: brown; 
    font-weight: Italic;
    
}

.highlight {
    text-transform: uppercase;
    background-color: yellow;
}