body{
    background-color: blanchedalmond;
    color: rgba(199, 120, 120, 0.9);
    height:auto;
    display: flex;
    padding-top: 10em;
    justify-content:center;
    align-items: center;

}

.font {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    font-weight: bold;
    font-style: italic;
    /* all the above can be written as font*/

    font:italic bold 40px 'Black Han Sans', arial, sans-serif;
}