.container {
    display: grid;
    /*grid-template-columns: 100px 100px 100px; width defination for 3 rows(50px auto 50px)if i need 5 rows (50px auto 50px 100px 50px) */
    /*grid-template-rows: 100px 100px 100px ;  column distance */
    grid-gap: 5px;
   
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr) 

    /* grid-template: repeat(2, 1fr) /repeat(3, 1 fr) */
    
   
}

/* 1fr = 1 fraction units*/
/* if i have repeate same dimension for row and colum - eg I need to have 1 fraction unit for all the 3 rows
grid-template-columns: repeat(3, 1fr)
grid-template-rows: repeat(3, 1fr)

short cut is grid-template: row / column 
grid-template: repeat(2, 1fr) /repeat(3, 1 fr)

*/
