/* .header {
    grid-column-start: 2;
    grid-column-end: -1; when we don't know number of columns then we can write it = -1
    background-color: yellow;
   
}

.menu {
    background-color:rgb(162, 186, 211);
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}

.content {
    background-color:lightpink;
    grid-column-start: 2;
    grid-column-end: -1;
    
}

.footer {
    grid-column-start: 1;
    grid-column-end: -1;
    background-color: yellow;
    
} */

/* above css shows menu to the left
header right hand side
content right hand side
footer full screen

|---|----------------| left menu , Header
|   |----------------| center Content
|   |                |
|   |                |
|---|----------------|
---------------------- footer

next assignment is change the layout 

|-------------|----| left Header, right menu
|-------------|    | center content
|             |    |
|             |    |
|-------------|----|
--------------------- footer
*/

.header {
    background-color: yellow;
    grid-column-start: 1;
    grid-column-end: 11;

}
.menu {
    background-color:rgb(162, 186, 211);
    grid-column-start: 11;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 3;

}
.content {
    background-color:lightpink;
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 3;

}

.footer{
    background-color: yellow;
    grid-column-start: 1;
    grid-column-end: -1;
}

